In [13]:
import pandas as pd
import glob

df = pd.read_csv('../app_data_visualization/data/tsne2d_iter_250_perp_3_npc_25_lr_100.csv')

In [22]:

df.drop(columns=1)

KeyError: '[1] not found in axis'

In [20]:
pd.read_json(a, index_col=0)

TypeError: read_json() got an unexpected keyword argument 'index_col'

In [43]:
pd.read_json(a)

                             x         y
('AB-05AA008', 1911)  0.128462  0.083626
('AB-05AA008', 1912)  0.188420  0.287540
('AB-05AA008', 1913)  0.327173  0.841867
('AB-05AA008', 1914)  0.516512  0.628577
('AB-05AA008', 1915)  0.088704 -0.261139
...                        ...       ...
('YT-09FC001', 2011)  0.235235  1.592657
('YT-09FC001', 2012)  0.534161  2.038077
('YT-09FC001', 2013)  0.112641  2.171725
('YT-09FC001', 2014)  0.262398  2.016664
('YT-09FC001', 2015)  0.273103  1.837583

[17008 rows x 2 columns]

In [27]:
data = [0, 1]

In [28]:
pd.DataFrame(index=pd.MultiIndex.from_tuples(a))

TypeError: Cannot infer number of levels from empty list

In [4]:
df.set_index(['SID', 'Year'])

                        x         y
SID        Year
AB-05AA008 1911  0.128462  0.083626
           1912  0.188420  0.287540
           1913  0.327173  0.841867
           1914  0.516513  0.628577
           1915  0.088704 -0.261139
...                   ...       ...
YT-09FC001 2011  0.235235  1.592657
           2012  0.534161  2.038077
           2013  0.112641  2.171725
           2014  0.262398  2.016664
           2015  0.273103  1.837583

[17008 rows x 2 columns]